name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: DockerHub login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}          
    
    - name: Build and push Docker images
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: fraz666/obareimbow-strats:latest, fraz666/obareimbow-strats:${{ github.sha }}